.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1 {
  margin: 0;
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
}

.login-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.login-link:hover {
  text-decoration: underline;
}
